on init

on fs

# MTP Device permission.
    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

# terminal mode
    chmod 0660 /sys/class/android_usb/android0/terminal_version
    chown system system /sys/class/android_usb/android0/terminal_version

# NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

# FIXME: permissions for tvout
    chmod 0777 /dev/graphics/fb0
    chmod 0777 /dev/graphics/fb10
    chmod 0777 /dev/graphics/fb11
    chown media graphics /sys/class/switch/hdmi
    chmod 0777 /sys/class/switch/hdmi

# setup for alsa snd device
    chmod 0770 /dev/snd/pcmC0D0c
    chmod 0770 /dev/snd/pcmC0D0p
    chmod 0770 /dev/snd/controlC0
    chmod 0770 /dev/snd/timer
    chmod 0770 /dev/snd/hwC0D0

# Permissions for gpio_keys.
    chown system radio /sys/class/sec/sec_key/wakeup_keys 
    write /sys/class/sec/sec_key/wakeup_keys  102,116

# Add permission for ATM. 2010.03.20
    chown system radio /sys/devices/platform/i2c-gpio.9/i2c-9/9-0036/power_supply/fuelgauge/fg_read_soc
    chown system radio /sys/devices/platform/i2c-gpio.9/i2c-9/9-0036/power_supply/fuelgauge/fg_reset_soc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_lpm_state
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/fg_psoc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/system_rev
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_current_adc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_test_value
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc_spec
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_full_check
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_type
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/mp3
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/video
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_lp_charging
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/charging_source
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc_avg
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp_adc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_temp
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_vfocv
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_soc
    chown system radio /sys/devices/platform/sec-battery/power_supply/battery/batt_vol

    chown system system /sys/class/backlight/panel/brightness
    chown system system /sys/class/power_supply/battery/temp

# Permissions for input devices
    chown system radio /sys/devices/virtual/sec/sec_key/sec_key_pressed

    chown system radio /sys/devices/virtual/sec/sec_touchkey/force_disable
    chown system radio /sys/devices/virtual/sec/sec_touchkey/recommended_version
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touch_sensitivity
    chown system radio /sys/devices/virtual/sec/sec_touchkey/brightness
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_brightness
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_back
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_menu
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_panel
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_version_phone
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update_status
    chown system radio /sys/devices/virtual/sec/sec_touchkey/touchkey_firm_update
    chown system radio /sys/devices/virtual/sec/sec_touchkey/updated_version
    chown system radio /sys/devices/virtual/sec/sec_touchkey/led_timeout
    chown system radio /sys/devices/virtual/sec/sec_touchkey/timeout

    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_firm_version
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_threshould
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_delta
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_all_refer
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer4
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer3
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer2
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer1
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_delta0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_refer0
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_deltadata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/disp_all_refdata
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_off
    chown system radio /sys/devices/virtual/sec/tsp_noise_test/set_module_on

    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_panel
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_version_phone
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update_status 
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_firm_update 
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_threshold
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_config_version
    chown system radio /sys/devices/virtual/sec/sec_touchscreen/tsp_touchtype

# Vibetonz
    chmod 0660 /dev/tspdrv
    chown root shell /dev/tspdrv
    chmod 0660 /sys/vibrator/pwm_val
    chown system system /sys/vibrator/pwm_val

# Permissions for LCD
    chown system radio /sys/class/lcd/panel/lcd_power
    chown system radio /sys/class/lcd/panel/lcd_type
    chown system media_rw /sys/class/lcd/panel/gamma_mode
    chown system media_rw /sys/class/lcd/panel/power_reduce
    chown system system /sys/class/backlight/panel/auto_brightness

# Permissions for mDNIe
    chown system media_rw /sys/class/mdnie/mdnie/mode
    chown system media_rw /sys/class/mdnie/mdnie/outdoor
    chown system media_rw /sys/class/mdnie/mdnie/scenario
    chown system media_rw /sys/class/mdnie/mdnie/negative
    write /sys/class/mdnie/mdnie/scenario 0
    write /sys/class/mdnie/mdnie/mode 1

# Permissions for uart_sel and usb_sel
    chown system radio /sys/class/sec/switch/uart_sel/value
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/audio_path
    chown system radio /sys/class/sec/switch/otg_test
    chown system radio /sys/class/sec/switch/adc_debounce_time
    chown system radio /sys/class/sec/switch/status
    chown system radio /sys/class/sec/switch/adc
    chown system radio /mnt/.lfs/sw_sel

# Permission for radio
    chown system radio /sys/devices/platform/s5p-ehci/ehci_power
    chown system radio /sys/devices/platform/s5p-ehci/ehci_runtime
    chown system radio /sys/devices/virtual/misc/multipdp/waketime

# for datarouter
    chown system system /dev/dun
    chown system system /dev/ttyGS0
    chown system system /dev/ttyGS1
    chown system system /dev/ttyGS2
    chown system system /dev/ttyGS3

# backlight permissions
    chown system system /sys/class/backlight/pwm-backlight/brightness
    chmod 0660 /sys/class/backlight/pwm-backlight/brightness
    chown radio system /sys/devices/virtual/misc/melfas_touchkey/brightness
    chmod 0660 /sys/devices/virtual/misc/melfas_touchkey/brightness

# Permissions for dvfs lock
    chown system system /sys/power/cpufreq_max_limit
    chown system system /sys/power/cpufreq_min_limit
    chmod 0660 /sys/power/cpufreq_max_limit
    chmod 0660 /sys/power/cpufreq_min_limit

    chown system system /sys/power/gpu_lock
    chmod 0660 /sys/power/gpu_lock

# Permisions for sensors
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_selftest
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_get_temp
    chown radio system /sys/devices/virtual/K3G_GYRO-dev/k3g/gyro_power_on
    chown radio system /sys/devices/virtual/accelerometer/accelerometer/acc_file
    chown radio system /sys/devices/virtual/sec/gsensorcal/calibration

on boot
    setprop ro.radio.noril yes
    setprop ro.build.product GT-I9100
    setprop ro.product.device GT-I9100

# permissions for NFC
    setprop ro.nfc.port "I2C"
    chmod 0600 /dev/pn544
    chown nfc nfc /dev/pn544

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# For RIL
service cpboot-daemon /sbin/cbd -d -p 8
    class main
    user root
    group radio cache inet misc audio sdcard_rw log sdcard_r

